@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
:root {
  --primary-color: white;
}

.body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 600px;
}

.header {
  position: relative;
  background-image: url(Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar {
  padding: 32px;
}

.navbar .menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  height: 100%;
  align-items: center;
}
.nav-hidden {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.menuhide {
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  padding-top: 21px;
  /* display: flex; */
  justify-content: space-between;
}

.hidebar {
  display: none;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  cursor: pointer;
}
.hiddenmenu {
  display: none;
}
.hiddenmenu {
  position: absolute;
  top: 50px;
  left: 0px;
  padding-top: 20px;
  background-color: #fff;
  width: 254px;
  border-radius: 2px;
  z-index: 1;
}
.hiddenmenu p {
  width: 80%;
  margin: auto;
  font-weight: 700;
  padding: 25px 0px 0px 0px;
  color: #333333;
  display: flex;
  flex-direction: column;
}
.listhide,
.menuhide {
  width: 80%;
  margin: auto;
  list-style: none;
}
.listhide {
  border-bottom: 1px solid #c4c4c4;
}
.listhide li:last-child {
  padding-bottom: 38px;
}
.listhide li {
  font-weight: 600;
  font-size: 14px;
  padding-top: 21px;
}
.listhide li a {
  color: #301446;
}
.menuhide li {
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
}
.menuhide li:last-child {
  padding-bottom: 60px;
}
.navbar .menu li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Open sans" sans-serif;
}

.button {
  background-color: white;
  border: none;
  color: #071533;
  padding: 0.5rem 1.5em;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;

  align-items: center;
}

.you-can {
  margin-top: 54px;
  margin-left: 60px;
}

.you {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  padding-bottom: 30px;
}

.you-can p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  padding-bottom: 54px;
  color: #ffffff;
}

.search-box {
  position: relative;
  left: 32px;
  bottom: 28px;
}

.search-box input {
  width: 27%;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  /* margin-left: 28px; */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
}

.search-box input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #ffffff;
}

.search-box img {
  position: absolute;
  top: 14px;
  left: 343px;
}

.logo-img {
  position: absolute;
  top: 134px;
  right: 50px;
}

.browse {
  margin-left: 58px;
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #071533;
  padding-top: 50px;
}

#what-we-do {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 90%;
  margin: 60px auto;
  color: #23262a;
  font-weight: 600;
  font-size: 18px;
}

#what-we-do li {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #23262a;
}

#what-we-do li:hover {
  border-bottom: 5px solid #2a1b3f;
  font-size: 16px;
  line-height: 22px;
  color: #071533;
}
.headline{
  width: 90%; 
    margin: auto;
}

.box-container {
  display: flex;
  justify-content: space-around;
  /* gap: 30px; */
  background: #ffffff;
  position: relative;
  width: 90%;
  margin: auto;
}

/* 
.brand-container h3{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;

color: #301446;

} */
.brand-id-box {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 15px 15px 0px 15px;
  width: 253px;
  height: 330px;
  position: relative;
}

.brand-id-box > img {
  width: 100%;
  object-fit: cover;
}
.brand-container {
  width: 90%;
  margin: 20px auto;
}

.brand-container p {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #332965;
}
h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #301446;
  align-items: center;
  margin-bottom: 10px;
  width: 90%;
  margin: 20px auto;
}
.brand-details {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  align-items: center;
}
.brand-details {
  display: flex;
  margin: 20px 0;
  gap: 10px;
  align-items: center;
}

.brand-details p {
  margin-right: auto;
}

.brand-amount {
  display: flex;
  justify-content: flex-end;
  color: #2a1b3f;
}
.da1 {
  color: #2a1b3f;
  text-decoration: line-through;
  font-size: 14px;
}
.da2 {
  color: #2a1b3f;
  font-size: 24px;
}
.forward {
  position: absolute;
  right: 42px;
  bottom: -589px;
}

.utilize {
  text-align: center;
  margin-top: 50px;
  background-color: #ffffff;
}

.uti {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  color: #021c37;
}

.util {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 70px;
  color: #301446;
}

.utilizebox {
  display: flex;
  justify-content: center;
  gap: 50px;
  /* width: 85%;
  margin: 60px auto; */
}

.png_box1 {
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6.75076px;
  /* background: hsl(0, 0%, 100%); */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 178px;
  height: 213px;
}
.png_box1 h4 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 10.8012px;
  color: #021c37;
  text-align: left;
  margin-top: 10px;
}
.png_box1 p {
  font-family: Open Sans;
  font-size: 10.8012px;
  color: #22272b;
  text-align: left;
  margin-top: 20px;
}
.png_box1 img {
  align-self: center;
}
#img-groupimg {
  filter: brightness(0);
}
.png_box1:hover #img-groupimg {
  filter: none;
}

.png_box1:hover img {
  filter: brightness(0) invert(1);
}
.png_box1:hover h4,
.png_box1:hover p {
  color: #ffffff;
}

.png_box1:hover {
  background-color: #301445;
  color: #ffffff;
}

.build {
  background-color: #e9e8f0;
  padding-bottom: 50px;
  /* margin-bottom: 30px; */
}

.build-create h2 {
  text-align: center;
  line-height: 2;
  margin: 20px;
  padding-top: 66px;
}

.bud {
  margin-top: 100px;
  text-align: center;
}

.build-create .bld {
  color: #301445;
  font-weight: 500px;
  margin-bottom: 30px;
  text-align: center;
}
.bld {
  color: #301446;
}

.btn {
  background-color: #301445;
  /* color: white; */
  /* margin: 0 auto 50px auto; */
  /* width:200px; */
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6.19048px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 20px;
}
.explore {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 15px 30px;
  margin: auto;
  width: 220px;
  text-align: center;
  background: #301446;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  display: block;
}

.our {
  line-height: 33px;
  font-weight: 700;
  font-size: 24px;
  color: #301446;
  padding-top: 97px;
  padding-bottom: 42px;
}

.testimony {
  position: relative;
  width: 90%;
  margin: auto;
}

.bot {
  position: absolute;
  right: 130px;
  bottom: 22%;
  height: 51px;
  width: 44px;
  background: #301446;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  cursor: pointer;
}

.testimonialboxes {
  display: flex;
  justify-content: center;
  text-align: block;
  gap: 30px;
  margin-left: 58px;
  margin-right: 58px;
}

.maryimg {
  background: #ffffff;
  box-shadow: 0px 4.23792px 8.47584px rgba(0, 0, 0, 0.04),
    0px 0px 2.11896px rgba(0, 0, 0, 0.06), 0px 0px 1.05948px rgba(0, 0, 0, 0.04);
  border-radius: 31.7844px 0px;
  width: 280px;
  height: 319px;
  padding: 10px;
}

.ma {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 12px;
}

.test {
  font-size: 16px;
  line-height: 22px;
  padding: 15px;
  color: #22272b;
  text-align: justify;
}
.ours {
}
.tutors {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #332965;
  margin-left: 58px;
  margin-top: 70px;
}

.company-logos {
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 50px;
  margin-left: 58px;
}

.footer {
  background-color: #301445;
}

.footercontainer {
  padding: 10px 20px 5px 20px;
  display: flex;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid white;
}

.footcont {
  margin-left: -80px;
  flex-basis: 45%;
}

.about {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  margin-left: 58px;

  color: #7b7fda;
}

.us {
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;

  color: #e8e6f2;
}

.contactUS {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 58px;
  color: #7b7fda;
  margin-bottom: 20px;
}
.column {
  display: flex;
}
.footer-icon {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 10px;
}

.footer-icon div {
  height: 34px;
  width: 34px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.footer-icon div img {
  height: 20px;
  width: 20px;
}

.infoBox .info {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 39px;
}

.info .inf li a {
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  text-decoration: none;
  color: #e8e6f2;
  font-family: "Open sans";
}

.learn .lean li a {
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  text-decoration: none;
  color: #e8e6f2;
}

.help .line li a {
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: #e8e6f2;
}

.subscribe {
  margin-top: 37px;
}
.sub {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 1rem;
  color: #7b7fda;
}

.btn {
  border-radius: 2px;
  border: none;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
}

.img-footer {
  margin-bottom: 20px;
  margin-left: 58px;
  margin-top: 60px;
}

span {
  margin-left: 30px;
  color: #e8e6f2;
  font-size: 14px;
}
.web a {
  color: #e8e6f2;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.con {
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: row;

  margin-top: 100px;
  justify-content: space-between;
  flex-grow: 1;
}

.column ul {
  list-style-type: none;
  padding-right: 50px;
}

.column a {
  text-decoration: none;
}

.column li {
  padding-bottom: 20px;
}

.column .subcribe {
  margin-right: 70px;
}

.footer-input {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  gap: 20px;
}

.footer-input img {
  /* width: 30px;
height: 30px; */
  display: inline-block;
}

.footer-input input {
  border: none;
  display: block;
  color: #301446;
  font-size: 10px;
}

.footer-input input:focus {
  outline: none;
}

.footer-btn {
  background-color: #7b7fda;
  border-radius: 2px;
  width: 40%;
  padding: 0.5rem 0;
  margin: 2rem 0;
  border: none;
  color: white;
  font-size: 11px;
  margin-top: 13px;
}

@media only screen and (max-width: 980px) {
  .logo-img {
    display: none;
  }
  .navbar {
    display: none;
  }

  .hidebar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
  }

  .hidebar > img:nth-child(2) {
    width: 100px;
    height: 46px;
    margin-left: 150px;
  }
  .search-box input {
    width: 50%;
    font-size: 10px;
  }
  .what{
    display: none;
  }
  .forward{
    display: none;
  }

  .box-container {
    overflow-x: auto;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 20px;
  }
  .maryimg:nth-of-type(3) {
    display: none;
  }
  .footercontainer {
    display: flex;
    flex-direction: column;
  }
  .column {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-top: -10px;
  }
  h3 {
    margin-left: -1px;
  }
  .subscribe {
    margin-top: -10px;
    width: 250px;
  }
  .utilizebox{
    width: 80%;
        margin: auto;
        flex-direction: column;
        align-items: center;
  }
  .png_box1{
    box-shadow: 0 0 ;
        flex-direction: row;
        width: auto;
        height: auto;
        gap: 20px;
  }
  .png_box1:hover{
        background-color: #fff;
    }
  .png_box1 img{
    width: 140px;
        height: 60px; 
        /* background: #FFFFFF; */
        box-shadow: 0px 21.8182px 32.7273px rgba(0, 0, 0, 0.06), 0px 2.72727px 8.18182px rgba(0, 0, 0, 0.04), 0px 0px 1.36364px rgba(0, 0, 0, 0.04);
        border-radius: 50%;
        margin-top: 0px;
        display: flex;
  }
  #img-groupimg {
  /* filter: brightness(1); */
}
}
@media screen and (max-width: 800px) {
  .header {
    height: auto;
  }
  .tutors {
    padding-top: 50px;
    text-align: center;
  }
  .company-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: auto; */
    grid-gap: 10px;
  }
  .company-logos img {
    max-width: 75%;
  }
  .bld{
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
  }
  .util{
    display: none;
  }
}
@media only screen and (max-width: 662px) {
  .browse{
        margin-top: -210px;
  }
  .h2 {
    width: 80%;
    margin: auto;
  }
   .png_box1 h4{
    width: 175px;
  }
  .png_box1 p{
    width: 160px;
  }
  .test{
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    background-image: url(mobile.svg);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    /* background-attachment: unset; */
  }
  .search-box input {
    width: 55%;
    font-size: 10px;
  }
  .search-box img {
    position: absolute;
    top: 10px;
    left: 227px;
  }
  .maryimg:nth-of-type(2) {
    display: none;
  }
  #img-groupimg:nth-of-type(1) {
    /* width: 30px;
    height: 23px; */
  }
  .our{
    width: 280px;
    padding-top: 37px;
  }
  .uti{
        width: 80%;
        margin: auto;
        text-align: left;
    }
}
@media only screen and (max-width: 480px) {
  .header {
    background-image: url(mobile.svg);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    /* background-attachment: unset; */
  }
  .hidebar > img:nth-child(2) {
    margin-left: 49px;
  }
  .browse{
        margin-top: -246px;
  }
  .you {
    font-weight: 600;
    font-size: 27px;
    line-height: 38px;
    width: 90%;
  }
  .you-can p {
    font-size: 12px;
    width: 90%;
  }
  .you-can {
    margin-top: 26px;
    margin-left: 40px;
  }
  .search-box input {
    width: 55%;
    font-size: 10px;
  }
  .search-box img {
    position: absolute;
    top: 10px;
    left: 227px;
  }
  .bot {
    right: 50px;
    bottom: 22%;
  }
  .comp-logo img {
    /* max-width: 100%; */
  }
  .tutors {
    width: 81%;
    margin: auto;
  }
  
  .png_box1 h4{
    width: 175px;
  }
  .png_box1 p{
    width: 160px;
  }
}

/* @media only screen and (max-width: 1010px) {
  .navbar {
    display: none;
  }

  .hidebar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
  }
 
  .hidebar > img:nth-child(2) {
    width: 100px;
    height: 46px;
    margin-left: 150px;
  }
.hiddenmenu{
  display: block;
}

 
  .logo-img {
    display: none;
  }
  .footercontainer{
    display: flex;
    flex-direction: column;
  }
  .column{
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-top: -10px;
  }
  h3{
    margin-left: -1px;
  }
  .subscribe{
    margin-top: -10px;
    width:250px;
  }

}

@media only screen and (max-width: 975px) {
  .header{
    height: auto;
  }
  .you{
    font-size: 21px;
        line-height: 38px;
        padding-top: 10px;
        width: 60%;
  }
  .maryimg:nth-of-type(3){
    display: none;
  }
  .brand-id-box:nth-of-type(3){
    display: none;
  }
  .forward {
    display: none;
  }
 
  .company-logos{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
        row-gap: 10px; 
        grid-gap: 10px;
  }
}
@media only screen and (max-width: 823px) {
  .forward{
    display: none;
  }
  .utilizebox{
    display:grid;
    grid-template-columns: repeat(2, 2fr);

  }
}
@media only screen and (max-width: 736px) {
  .header{
    height: auto;
  }
  .build-create h2{
    text-align: block;
      
  }
  .bud{

  }
  .explore{
    width: 30%;
  }
}



@media only screen and (max-width: 676px) {
  .maryimg:nth-of-type(2){
    display: none;
  }

}
@media only screen and (max-width: 571px) {
  .header{
    background-image: url(Rectangle.png);
    background-size: cover;
    background-attachment: unset;
    height: auto;
  }
    
  .maryimg{
    margin-left: -98px;
  }
  .tutors{
    margin-left: 20px;
    width: 70%;
    text-align: center;
  }
  .company-logos{
    margin-left: 20px;
    grid-template-columns: repeat(3, 2, 1fr);
    align-content: center;
  }
  .company-logos >img{
    width: 10%;
  }
  .comp-logo{
    align-content: center;
  }
}
@media only screen and (max-width: 480px){
  .header{
    height: 50vh;
    
  }
 .hidebar > img:nth-child(2){
   margin-left: 49px;
 }
  .you{
    font-size: 28px;
    width: 41%;
  }
  .you-can p{
    font-size: 12px;
    margin-top:-20px;
  }
  .search-box input{
    width:200px;
  }
  .search-box input::placeholder{
    font-size: 12px;
  }
  .search-box img{
    left: 192px;
  }

  .what{
    display: none;
  }
  .brand-id-box:nth-of-type(2){
    display: none;
  }
  .utilizebox{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .util{
    display: none;
  }
  .png_box1{
    display: flex;
    flex-direction: row;
    width: 252px;
    box-shadow: 0 0;
       
        gap: 40px;
  }
  .png_box1 img{
    align-self: flex-start;
    border-radius: 50%;
    box-shadow: 0px 21.8182px 32.7273px rgba(0, 0, 0, 0.06), 0px 2.72727px 8.18182px rgba(0, 0, 0, 0.04), 0px 0px 1.36364px rgba(0, 0, 0, 0.04);
  }

  .png_box1 h4{
    width: 500px;
  }
.explore{
    width: 35%;
}
.bud{
  width: 350px;
  text-align: center;
}
.bld{
  font-size: 15px;
}
.bot{
  right:121px;
}
}

@media screen and (max-width:400px){
  .you{
    width: 90%;
  }
  .ours{
    width: 300px;
   
  }
} */
